<section class="program-edit-home app-documents submit-review">
    <h3>Supplemental Application</h3>
    <hr/>
    <p class="in-review-txt" data-ng-if="suppReviewCtrl.suppReviewData.status != 'active'">THIS ACTIVITY HAS BEEN MARKED AS READY FOR REVIEW AND CANNOT BE EDITED BY THE PROGRAM ADMINISTRATOR
    </p>
    <p class="in-active-txt" data-ng-if="suppReviewCtrl.suppReviewData.status == 'active'">This activity has been marked as complete and is no longer available to edit.</p>

    <hr/>

    <h4>Activity Introduction</h4>

    <div class="col-xs-12">
        <div class="review-section-padding">
            <h5 data-ng-bind-html="suppReviewCtrl.suppReviewData.sectionContent.startHeader  | characters: 100"><b>{{suppReviewCtrl.suppReviewData.sectionContent.startHeader | characters: 100}}</b></h5>
            <div data-ng-bind-html="suppReviewCtrl.suppReviewData.sectionContent.sectionIntroduction">{{suppReviewCtrl.suppReviewData.sectionContent.sectionIntroduction}}</div>
        </div>
    </div>

    <h4>Finishing Statement</h4>

    <div class="col-xs-12">
        <div class="review-section-padding">
            <h5 data-ng-bind-html="suppReviewCtrl.suppReviewData.sectionContent.completeHeader  | characters: 100"><b>{{suppReviewCtrl.suppReviewData.sectionContent.completeHeader | characters: 100}}</b></h5>
            <div data-ng-bind-html="suppReviewCtrl.suppReviewData.sectionContent.sectionComplete">{{suppReviewCtrl.suppReviewData.sectionContent.sectionComplete}}</div>
        </div>
    </div>

    <h4>Questions</h4>
    <div class="col-xs-12">
        <div class="review-section-padding">
            <ul class="list-unstyled">
                <li ng-repeat="questionSet in suppReviewCtrl.suppReviewData.questionSet"><h5><b>{{questionSet.title}}</b></h5>
                    <ol>
                        <li ng-repeat="question in questionSet.questions">{{question.questionText}}</li>
                    </ol>
                </li>
            </ul>
        </div>
        <!--suppReviewCtrl.suppReviewData.fee.feeAmount-->
    </div>
    <div data-ng-if="suppReviewCtrl.suppReviewData.fee.paymentEnabled != false ">
        <h4>Supplemental Fee</h4>
        <h5>{{suppReviewCtrl.suppReviewData.fee.paymentName}}</h5>
        <p>
            <span>&#36;</span>{{suppReviewCtrl.suppReviewData.fee.feeAmount | number:2}}
        </p>
    </div>

    <div data-ng-if="suppReviewCtrl.suppReviewData.fee.paymentEnabled == false ">
        <h4>Supplemental Fee</h4>
        <p>Payment has not been enabled.</p>
    </div>

    <div data-ng-if="suppReviewCtrl.userType == 'Association User' && suppReviewCtrl.suppReviewData.status != 'active'">
        <div class="extended-col col-xs-12">
            <div class="well">
                <div class="btn-group program-edit-btns">
                    <button type="button" class="btn btn-reset"
                            data-ng-click="suppReviewCtrl.resetToDraft()">
                        <i class="fa fa-undo"></i> reset to draft
                    </button>
                    <button type="button" class="btn btn-save"
                            data-ng-click="suppReviewCtrl.edit()">
                        <i class="fa fa-check"></i> edit
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 app-bottom-btns">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-reset btn-continue"
                            data-ng-click="suppReviewCtrl.activateModal()"
                            type="button">activate
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
