<div class="row preview-screens documents-modal">
    <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="1" on-scroll="onScroll(scrollTop, scrollHeight)">
        <div class="col-xs-12">
            <div data-ng-style="{'background-image': 'url(' + previewCtrl.branding.backgroundImage + ')','background-color': '#C8C8CA','height':'242px' }" data-ng-class="{'brand-image-placeholder':!previewCtrl.branding.backgroundImage}">
                <div class="brand-program-txt" data-ng-if="previewCtrl.branding.primaryheadlinetext == 'ON'">
                    <h1 id="brandingheading" style="color:{{previewCtrl.branding.headLineText}}">{{previewCtrl.nameInfo.organization.organizationName | characters:80}}</h1>
                </div>
                <div class="brand-title-bar">
                    <h1 class="pull-left">{{previewCtrl.programData.programName}}</h1>
                    <h1 class="pull-right">Deadline: {{previewCtrl.programData.deadlineDisplay | date:'MM/dd/yyyy'}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="preview-tabs nav-blocks">
                <div class="nav-tab"><a>Home</a></div>
                <div class="nav-tab" data-ng-repeat="tab in previewCtrl.navTabs" data-ng-class="{'active': tab === 'Documents'}">
                    <a>{{tab}}</a>
                </div>
            </div>
            <div class="preview-content">
                <h1 class="cas-program-materials-subsection-heading">Documents</h1>
                <div ng-bind-html="previewCtrl.documentData.instructions" set-target></div>
                <div>
                    Provide supporting documentation for your application. You may update the information in this section at any time prior to submission.
                    <br/>
                    <br/> The accepted file formats are MSWord (.doc, .docx), JPEG (.jpeg, .jpg), PNG (.png), Rich Text Format (.rtf), Portable Document Format (.pdf), and ASCII Text file (.txt). The size limit for each file upload is 5MB.
                    <br/>
                    <br/> TIPS:
                    <br/>
                    <br/>
                    <ul>
                        <li>Passwords: Do not password protect your files.</li>
                        <li>Editable PDF forms are not supported. Please upload an image file or scanned copy of the document. For more information on how to do this, please visit the Instructions and FAQs.</li>
                        <li>Sensitive information: If you are uploading a document that contains your social security number, please use a correction fluid or a security redacting marker to cover your social security number. Your social security number can still be seen after covering it with a regular marker. It is your responsibility to ensure your social security number cannot be seen in the document you are uploading.</li>
                    </ul>
                </div>
                <div class="document-panels" data-ng-repeat="document in previewCtrl.documentData.documents | filter:{'isRequest':true,'isDefault':false}">
                    <div class="panel panel-documents" ng-repeat="i in previewCtrl.range(document.maxCount) track by $index">
                        <div class="panel-body">
                            <h3>{{document.documentType}}<span class="optional-tag" data-ng-if="!document.isRequired">optional</span></h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                                </div>
                            </div>
                            <div class="progress-bar-check"></div>
                        </div>
                        <button class="btn doc-button"><span>Add Document</span></button>
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>