<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="brandInstructions.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Branding Guidelines and Instructions</h4>
</div>
<div class="modal-body">
    <img class="img-responsive" src="common/pdf/branding.jpg" alt=""/>
</div>
<!--<div class="modal-footer" style="border-top: none">-->
    <!--<button type="button" class="btn btn-cancel" ng-click="homeModalCtrl.cancel()"><i class="fa fa-times"></i> Cancel</button>-->
    <!--<button clickOnce type="button" class="btn btn-save" data-ng-click="homeModalCtrl.saveHomeTxt();" data-ng-disabled="addHomeTxtModal.$invalid"><i class="fa fa-plus"></i> Add</button>-->
<!--</div>-->
