<!-- Content Logo Panel -->
<div class="logo-panel program-edit-home" ng-controller="appBrandingLogoCtrl as logoCtrl">
    <p>Image size must be H70px by W360px.</p>
    <p>File size: 250kb or less</p>

    <form name="logoPanelForm" novalidate="novalidate" role="form">
        <div class="ag-logo col-xs-12">
            <div class="logo-browse">
                <div class="col-lg-3 brand-browse-btn">
                    <input id="anguUpload" data-ng-show="false" type="file" nv-file-select="" uploader="logoCtrl.uploader" />
                    <a id="btnBrowse"><i class="fa fa-search"></i></a>
                </div>

                <div data-ng-repeat="item in logoCtrl.uploader.queue" class="col-lg-9 brand-browse-image">
                    {{ item.file.name | characters:10 }}
                </div>
                <div class="ag-progress-bar col-xs-12" data-ng-repeat="item in logoCtrl.uploader.queue">
                    <div style="margin-bottom: 0;" class="progress">
                        <div role="progressbar" data-ng-style="{ &quot;width&quot;: item.progress + &quot;%&quot; }" class="branding-bar progress-bar"></div>
                        <i class="fa fa-check" style="color:#51a351;float: right;margin-left:3px;position: absolute;" data-ng-show="logoCtrl.uploadSuccessFull"></i>
                    </div>
                </div>
                <script></script>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="brand-error-messages animated fadeIn"></div>
            <div class="check-message"></div>
        </div>
        <div class="row">
            <div class="extended-col col-xs-12">
                <div class="well">
                    <div class="btn-group program-edit-btns">
                        <button type="button" class="btn btn-reset" data-ng-disabled="!logoCtrl.uploader.queue.length" ng-click="logoCtrl.reset()">
                            <i class="fa fa-undo"></i> reset
                        </button>
                        <button type="button" data-ng-disabled="true" data-ng-if="!logoCtrl.uploader.queue.length" class="btn btn-save">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" data-ng-if="logoCtrl.uploader.queue.length" data-ng-repeat="item in logoCtrl.uploader.queue" class="btn btn-save" data-ng-click="item.upload()" data-ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <i class="fa fa-check"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>