<section class="program-edit-home app-documents submit-review">
    <h3>Documents</h3>
    <hr/>
    <p class="in-review-txt" data-ng-if="docInReviewCtrl.docInReviewData.status != 'active'">THIS ACTIVITY HAS BEEN MARKED AS READY FOR REVIEW AND CANNOT BE EDITED BY THE PROGRAM
        ADMINISTRATOR
    </p>
    <p class="in-active-txt" data-ng-if="docInReviewCtrl.docInReviewData.status == 'active'">This ACTIVITY has been marked as complete and is no longer available to edit.</p>
    <hr/>

    <h4>Activity Application</h4>

    <div class="col-xs-12">
        <div class="review-section-padding">
            <h5 data-ng-bind-html="docInReviewCtrl.docInReviewData.sectionContent.startHeader | characters: 100"><b>{{docInReviewCtrl.docInReviewData.sectionContent.startHeader | characters: 100}}</b></h5>
            <p data-ng-bind-html="docInReviewCtrl.docInReviewData.sectionContent.sectionIntroduction">{{docInReviewCtrl.docInReviewData.sectionContent.sectionIntroduction}}</p>
        </div>
    </div>

    <h4>Finishing Statement</h4>

    <div class="col-xs-12">
        <div class="review-section-padding">
            <h5 data-ng-bind-html="docInReviewCtrl.docInReviewData.sectionContent.completeHeader | characters: 100"><b>{{docInReviewCtrl.docInReviewData.sectionContent.completeHeader | characters: 100}}</b></h5>
            <p data-ng-bind-html="docInReviewCtrl.docInReviewData.sectionContent.sectionComplete">{{docInReviewCtrl.docInReviewData.sectionContent.sectionComplete}}</p>
        </div>
    </div>

    <h4>Document Upload</h4>

    <div class="col-xs-12">
        <div class="review-section-padding">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>document type</th>
                        <th style="text-align: center;">request</th>
                        <th style="text-align: center;">min required</th>
                        <th style="text-align: center;">max allowed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="document in docInReviewCtrl.docInReviewData.documents">
                        <td>{{document.documentType | characters: 25}}</td>
                        <td style="text-align: center;">
                            <div ng-class="document.isRequest === true ? 'is-request' : ''">

                            </div>
                        </td>
                        <td style="text-align: center;">{{document.minRequired}}</td>
                        <td style="text-align: center;">{{document.maxAllowed}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-ng-if="docInReviewCtrl.userType == 'Association User' && docInReviewCtrl.docInReviewData.status != 'active'">
        <div class="extended-col col-xs-12">
            <div class="well">
                <div class="btn-group program-edit-btns">
                    <button type="button" class="btn btn-reset"
                            data-ng-click="docInReviewCtrl.resetToDraft()">
                        <i class="fa fa-undo"></i> reset to draft
                    </button>
                    <button type="button" class="btn btn-save"
                            data-ng-click="docInReviewCtrl.edit()">
                        <i class="fa fa-check"></i> edit
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 app-bottom-btns">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-reset btn-continue"
                            data-ng-click="docInReviewCtrl.activateModal()"
                            type="button">activate
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
