<section class="header-icons">
  <div class="col-xs-4">
    <div class="back-to-org org-arrow"><a ui-sref="home">back to applications</a>
    </div>
    <h1>application home</h1>
  </div>
  <div class="col-xs-8 top-icons">
    <ul class="list-inline">
      <li ui-sref-active="active" class="home-icon" data-toggle="tooltip" data-placement="bottom" uib-tooltip="Application Home" tooltip-placement="bottom">
        <a ui-sref="programs{orgId}">Application Home<span></span></a>
        <div class="header-icon-tip"></div>
      </li>
    </ul>
  </div>
</section>