<!-- <div data-ng-switch="EditProgCtrl.casid">
	<div data-ng-switch-when="805">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_805.html' "></div>
	</div>
	<div data-ng-switch-when="806">
			<div data-ng-if="EditProgCtrl.formId != 6327" data-ng-include=" 'components/dashboard/forms/programDetailsEdit_806.html' "></div>
			<div data-ng-if="EditProgCtrl.formId == 6327" data-ng-include=" 'components/dashboard/forms/programDetailsEdit_6327.html' "></div>
	</div>
	<div data-ng-switch-when="807">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_807.html' "></div>
	</div>
	<div data-ng-switch-when="808">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_808.html' "></div>
	</div>
    <div data-ng-switch-when="809">
			<div data-ng-if="EditProgCtrl.formId != 6350" data-ng-include=" 'components/dashboard/forms/programDetailsEdit_809.html' "></div>
			<div data-ng-if="EditProgCtrl.formId == 6350" data-ng-include=" 'components/dashboard/forms/programDetailsEdit_6350.html' "></div>
    </div>
    <div data-ng-switch-when="811">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_811.html' "></div>
    </div>
    <div data-ng-switch-when="813">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_813.html' "></div>
    </div>
    <div data-ng-switch-when="815">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_815.html' "></div>
    </div>
    <div data-ng-switch-when="817">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_817.html' "></div>
    </div>
    <div data-ng-switch-when="822">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_822.html' "></div>
    </div>
    <div data-ng-switch-when="824">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_824.html' "></div>
    </div>
    <div data-ng-switch-when="1832">
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_1832.html' "></div>
    </div>
	<div data-ng-switch-when="1833">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_1833.html' "></div>
	</div>
	<div data-ng-switch-when="1839">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_1839.html'"></div>
	</div>
	<div data-ng-switch-when="1855">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_1855.html'"></div>
	</div>
	<div data-ng-switch-when="1856">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit1856.html'"></div>
	</div>
	<div data-ng-switch-when="1838">
			<div data-ng-if="EditProgCtrl.formId == 6282" data-ng-include=" 'components/dashboard/forms/programDetailsEdit_6282.html' "></div>
			<div data-ng-if="EditProgCtrl.formId == 6335" data-ng-include=" 'components/dashboard/forms/programDetailsEdit_6335.html' "></div>
	</div>
	<div data-ng-switch-when="1844">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_1844.html' "></div>
	</div>
	<div data-ng-switch-when="1849">
		<div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_1849.html' "></div>
	</div>
    <div data-ng-switch-default>
        <div data-ng-include=" 'components/dashboard/forms/programDetailsEdit_base.html' "></div>
    </div>
</div> -->

<div data-ng-include="EditProgCtrl.formTemplate"></div>
