<div id="scrollable-area" class="table-responsive pro-org" data-ng-if="casInfoData.xmlCasId != mainCtrl.Configuration.xmlCASID">
    <table class="table table-striped" data-fixed-table-headers="scrollable-area">
        <thead>
            <tr>
                <th><a data-ng-click="predicatemodal = 'programName'; reverse=!reverse">program <i
					class="fa fa-sort"></i></a>
                </th>
                <th>
                    <a data-ng-click="predicatemodal = 'waDisplayName'; reverse=!reverse">webadmit name <i
						class="fa fa-sort"></i></a>
                </th>
                <th>
                    <a data-ng-click="predicatemodal = 'startDate'; reverse=!reverse"> start date <i class="fa fa-sort"></i></a>
                </th>
                <th>
                    <a data-ng-click="predicatemodal = 'deadline'; reverse=!reverse">deadline <i class="fa fa-sort"></i></a>
                </th>
                <th>
                    <a data-ng-click="predicatemodal = 'status'; reverse=!reverse">status <i class="fa fa-sort"></i></a>
                </th>
                <th>
                    <a data-ng-click="predicatemodal = 'updatedDate'; reverse=!reverse">last update <i
						class="fa fa-sort"></i></a>
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody id="proTable" data-link="row" class="rowlink">
            <tr class="animated" data-ng-repeat="program in OrglistPrograms.programs | orderBy:predicatemodal:reverse | filter: searchPrograms" data-ng-mouseenter="program.showButtons = true" data-ng-mouseleave="program.showButtons = false" data-ng-class="selected">
                <td>
                    <div popover-placement="right" popover-trigger="mouseenter" uib-popover="{{'ProgramID: ' + program.id+', '+program.programName}}">
                        {{::program.programName | characters:15}}
                    </div>
                </td>
                <td>
                    <div popover-placement="right" popover-trigger="mouseenter" uib-popover="{{program.waDisplayName}}">
                        {{::program.waDisplayName == null ? "N/A" : program.waDisplayName | characters:15}}
                    </div>
                </td>
                <td>{{::program.startDate | date:'MM/dd/yyyy'}}</td>
                <!--start deadline-->
                <td data-ng-class="program.showButtons ? 'selectedTd' : '' " data-ng-show="!program.showButtons">
                    <div  class="showDate status-caps">{{::program.deadline | date:'MM/dd/yyyy'}}
                    </div>
                </td>
                <td data-ng-class="program.showButtons ? 'selectedTd' : '' " data-ng-show="!program.showButtons">
                    <div data-ng-if="program.status !== 'active'" data-ng-class="{
                        'draft-status': program.status.toLowerCase() === 'draft',
                        'review-status': program.status.toLowerCase() === 'review'
                        }" class="showDate status-caps">{{program.status == null ? "N/A" : program.status}}
                    </div> 
                    <div data-ng-if="program.status === 'active'" class="active-status">Approved</div>
                </td>
                <td width="20%" data-ng-class="program.showButtons ? 'selectedTd' : '' " data-ng-show="!program.showButtons">

                    <div  class="showButtons">{{::program.updatedDate | date:'MM/dd/yyyy'}}
                    </div>
                </td>
                <td colspan="3" data-ng-show="program.showButtons" data-ng-class="program.showButtons ? 'selectedTd' : '' ">
                    <div class="displayInline fadeIn showButtons enter-fadeIn exit-fadeOut speed-700 stagger-100 ">
                        <!--Status LEVELS -> [Level:1 DRAFT] -> [Level:2 Review] -> [Level:3 Active-->
                        <!--Show this review button if STATUS is 'DRAFT'-->
                        <a data-ng-if="program.status.toLowerCase() == 'draft' && headerOrgdata.userType.toLowerCase() !== programCtrl.associationUser" ng-click="programCtrl.openReviewModal(program)"><i class="fa fa-angle-double-right"></i>
	                        <span popover-placement="right" popover-trigger="mouseenter" uib-popover="Submit for Review"
	                              popover-animation="false">
		                        review</span></a>
                        <!--Show this activate button if STATUS is 'REVIEW' and userType is Association USer-->
                        <a data-ng-if="(program.status.toLowerCase() == 'draft' || program.status.toLowerCase() == 'review') && headerOrgdata.userType.toLowerCase() === programCtrl.associationUser" ng-click="programCtrl.openActivateModal(program)"><i class="fa fa-angle-double-right"></i>
	                        <span popover-placement="top" popover-trigger="mouseenter" uib-popover="Activate Program"
	                              popover-animation="false">
		                        activate</span></a>
                        <!-- Show this archive button if status is active and userType is Association user-->
                        <a data-ng-if="program.status.toLowerCase() == 'active' && headerOrgdata.userType.toLowerCase() === programCtrl.associationUser" ng-click="programCtrl.closeProgram(program)"><i class="fa fa-archive"></i>
	                        <span popover-placement="top" popover-trigger="mouseenter" uib-popover="Archive Program"
                                  popover-animation="false">
		                        archive</span></a>
                    </div>
                    <div data-ng-show="!headerOrgdata.apiEnabled" class="displayInline showButtons fadeIn enter-fadeIn exit-fadeOut speed-700 stagger-100 buttons-jump">
                        <a data-ng-if="program.status.toLowerCase() === 'draft' ? true : false" data-ng-click="openDeleteProgramWindow(program)"><i class="fa fa-trash-o"></i> delete</a>
                    </div>
                    <div class="displayInline showButtons fadeIn enter-fadeIn exit-fadeOut speed-700 stagger-100 buttons-jump">
                        <a ui-sref="programDetails({programId:program.id})"><i class="fa fa-pencil"></i> details</a>
                    </div>
                </td>
                <td id="program-arrows" ui-sref="programDetails({programId:program.id})" data-ng-class="selected">toggle arrows
                    <span></span>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- messages-->
<!--Save bar-->
<div class="extended-col col-xs-12" data-ng-if="casInfoData.xmlCasId != mainCtrl.Configuration.xmlCASID">
    <div class="program-edit-btns well">
        <div class="btn-group pull-left" data-ng-show="showPrograms">
            <button type="button" class="btn btn-remove" data-ng-click="openAddProgramWindow()"><i class="fa fa-plus"></i> add
            </button>
            <button type="button" class="btn btn-remove" data-ng-click="openCopyProgramWindow()"><i class="fa fa-files-o"></i> copy
            </button>
        </div>

        <button data-ng-click="togglePrograms($event)" data-ng-disabled="headerOrgdata.apiEnabled" type="button" class="btn btn-remove pull-left">
            <i class="fa fa-plus"></i> program
        </button>

    </div>
</div>