<!-- <div data-ng-switch="ProgDetailCtrl.headerdata.casId">
	<div data-ng-switch-when="806">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_806.html' "></div>
	</div>
	<div data-ng-switch-when="807">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_807.html' "></div>
	</div>
	<div data-ng-switch-when="809">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_809.html' "></div>
	</div>
	<div data-ng-switch-when="811">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_811.html' "></div>
	</div>
	<div data-ng-switch-when="813">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_813.html' "></div>
	</div>
	<div data-ng-switch-when="815">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_815.html' "></div>
	</div>
	<div data-ng-switch-when="817">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_817.html' "></div>
	</div>
	<div data-ng-switch-when="822">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_822.html' "></div>
	</div>
	<div data-ng-switch-when="824">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_824.html' "></div>
	</div>
	<div data-ng-switch-when="1832">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1832.html' "></div>
	</div>
	<div data-ng-switch-when="1839">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1839.html' "></div>
	</div>
	<div data-ng-switch-when="1838">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1838.html' "></div>
	</div>
	<div data-ng-switch-when="1844">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1844.html' "></div>
	</div>
	<div data-ng-switch-when="1853">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1853.html' "></div>
	</div>
	<div data-ng-switch-when="1854">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1854.html' "></div>
	</div>
	<div data-ng-switch-when="1855">
		<div data-ng-include=" 'components/dashboard/forms/programDetails_1855.html' "></div>
	</div>
	<div data-ng-switch-default>
		<div data-ng-include=" 'components/dashboard/forms/programDetails_base.html'"></div>
	</div>
	<div data-ng-include=" 'components/dashboard/inReview/inReviewSetting.html' "></div>
</div> -->
<div>
	<!-- <div data-ng-include=" 'components/dashboard/forms/programDetails_Configurable.html' "></div> -->
	<div data-ng-include="ProgDetailCtrl.formTemplate"></div>
	<div data-ng-include=" 'components/dashboard/inReview/inReviewSetting.html' "></div>
</div>